@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    box-sizing: border-box;
    margin : 0;
    padding : 0;
    scroll-behavior: smooth;
    font-family : 'Satisfy', sans-serif
}

.owl-stage-outer, .owl-stage, .owl-item {
    height : inherit
}

.owl-prev {
    height: 100% !important;
    width: 80px !important;
    padding : 14px !important;
    font-size : 40px !important;
    line-height : 14px !important;
    transition : 1s;
    position: absolute;
    bottom : 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.owl-prev span{
    color : #000;
}
.owl-prev:hover {
    background-image : linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2)) !important;
}

.owl-next {
    height: 100% !important;
    width: 80px !important;
    padding : 14px !important;
    font-size : 40px !important;
    line-height : 14px !important;
    transition : 1s;
    position: absolute;
    bottom : 0;
    right : 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.owl-next span{
    color : #000;
}
.owl-next:hover {
    background-image : linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2)) !important;
}